<div class='row'>
  <div class='col-xs-12'>
    <h1>Level: {{name}}</h1>
    <h1>Width: {{width}}</h1>
    <h1>Height: {{height}}</h1>
    <button type='submit' class='btn btn-danger' {{action destroyRecord}}>
      Destroy Level
    </button>
  </div>
</div>
