<table class='table table-stripe'd>
  <tr>
    <th>Name</th>
    <th><th>
  </tr>
  {{#each level in levels}}
    <tr>
      <td>{{level.name}}</td>
      <td>
        <button type='submit' class='btn btn-primary' {{action playGame level}}>Play</button>
      </td>
    </tr>
  {{/each}}
</table>
