<div class='row'>
  <div class='col-xs-12'>
    {{! Generated controller detects model is array so it is an ArrayController}}
    <table class='table table-striped'>
      <tr>
        <th>Name</th>
      </tr>

      {{#each player in model}}
        <tr>
          <td>{{#link-to 'players.show' player}}{{player.name}}{{/link-to}}</td>
        </tr>
      {{/each}}
    </table>
  </div>
</div>

<div class='row'>
  <div class='col-xs-12'>
    <button class='btn btn-primary' type='submit' {{action newPlayer}}>
      New Player
    </button>
  </div>
</div>
