<div class='row'>
  <div class='col-xs-8'>
    <h1>Player: {{name}}</h1>
    <img {{bind-attr src=spriteSheet.src}} />
  </div>

  <div class='col-xs-4'>
    {{partial 'players/level_select'}}
  </div>
</div>
