<div class='row'>
  <div class='col-xs-8'>
    <h1>Player: {{name}}</h1>
    <button type='submit' class='btn btn-danger' {{action destroyRecord}}>
      Destroy Player
    </button>
  </div>

  <div class='col-xs-offset-8 col-xs-4'>
    {{partial 'players/level_select'}}
  </div>
</div>
