.component-progress-bar {
  position: relative;

  .progress-ratio {
    height:       100%;
    margin:       auto;
    position:     absolute;
    text-shadow:  1px 1px 2px black;
    width:        100%;
    z-index:      2;
  }

  .progress {
    z-index: 1;
  }
}
