.game-container {
  position: relative;

  .game-ui {
    position:  absolute;
    z-index:   2;

    .exit-game {
      position:  absolute;
      top:       5px;
      left:      5px;
    }

    .player-pos {
      display:   inline-block;
      position:  absolute;
      top:       5px;
      right:     5px;
    }
  }

  .game-render {
    position:  absolute;
    z-index:   1;
  }
}
