{{#with view}}
  <button type='submit' class='btn btn-warning exit-game' {{action exitGame}}>
    Exit Game
  </button>
  {{view 'game/render' levelBinding='level' updateChannelBinding='updateChannel'}}
{{/with}}
