<div class="panel panel-default">
  <div class="panel-body">
    <div id="game-container">
      {{view "game/interaction" game=game}}
      {{view "game/renderer" game=game}}
    </div>
  </div>
</div>
