<div class="row">
  <div class="col-xs-2">
    <div class="panel panel-default">
      <div class="panel-body text-center">
        {{area.name}}
        {{player.name}}
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-8">
    {{outlet}}
  </div>
</div>
